<!DOCTYPE html>
<html>
<head>
    <title>Editör Paneli</title>
</head>
<body>
    <h1>Editör Paneli</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Takip Numarası</th>
                <th>E-posta</th>
                <th>Yükleme Tarihi</th>
                <th>Dosya</th>
                <th>İşlem</th>            
                <th>Mesaj</th>
                <th>Sil</th>
                <th>A.Kelimeler</th>
                <th>Fianl Pdf</th>
                <th>Yorumlu PDF</th>
                <th>Hakem Ata</th>

                
             
            </tr>
        </thead>
        <tbody>
            {% for makale in makaleler %}
            <tr>
                <td>{{ makale.takip_numarasi }}</td>
                <td>{{ makale.eposta }}</td>
                <td>{{ makale.yuklenme_tarihi }}</td>
                <td><a href="{{ makale.dosya.url }}">İndir</a></td>
                <td>
                    <a href="{% url 'anonimlestirme_secim' makale.id %}">Anonimleştir</a>
                </td>
                <td>
                    {% if makale.mesaj %}
                        {{ makale.mesaj }}
                    {% else %}
                        <em>Mesaj yok</em>
                    {% endif %}
                </td>
               
                <td>
                    <a href="{% url 'makale_sil' makale.id %}" onclick="return confirm('Bu makaleyi silmek istediğinize emin misiniz?')">Sil</a>
                </td>


                <td>
                    {% if makale.keywords %}
                        <strong>Anahtar Kelimeler:</strong> {{ makale.keywords }}
                    {% else %}
                        <em>Anahtar kelime bulunamadı.</em>
                    {% endif %}
                </td>
               
                    <td>
                        {% if makale.yorumlu_pdf %}
                            <form method="get" action="{% url 'final_olustur' makale.id %}">
                                <button type="submit">Final PDF Oluştur</button>
                            </form>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    

                

                <td>
                    {% if makale.yorumlu_pdf %}
                        <a href="{{ makale.yorumlu_pdf.url }}">Yorumlu PDF</a>
                    {% else %}
                        Henüz değerlendirme yapılmamış
                    {% endif %}
                </td>

                <td>
                <form method="post" action="{% url 'hakem_ata' makale.id %}">
                    {% csrf_token %}
        <select name="hakem">
            <option value="hakem1" {% if makale.atandigi_hakem == "hakem1" %}selected{% endif %}>Hakem 1</option>
            <option value="hakem2" {% if makale.atandigi_hakem == "hakem2" %}selected{% endif %}>Hakem 2</option>
            <option value="hakem3" {% if makale.atandigi_hakem == "hakem3" %}selected{% endif %}>Hakem 3</option>
            </select>
        <button type="submit">Ata</button>
                </form>
                </td>

                
                
            </tr>
            {% empty %}
            <tr><td colspan="6">Henüz yüklenmiş makale yok.</td></tr>
            
           
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
